<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donations</title>
    <link rel="stylesheet" href="/Home.css">
</head>
<body>
    <h1>Donations</h1>
    <table border="1">
        <tr>
            <th>Donor</th>
            <th>Donation Type</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Allocated To</th>
            <th>Date</th>
        </tr>
        <% donations.forEach(donation => { %>
        <tr>
            <td><%= donation.Donor ? donation.Donor.donor_name : 'Anonymous' %></td>
            <td><%= donation.donation_type %></td>
            <td><%= donation.amount ? donation.amount : 'N/A' %></td>
            <td><%= donation.ResourceCategory ? donation.ResourceCategory.category_name : 'N/A' %></td>
            <td><%= donation.quantity ? donation.quantity : 'N/A' %></td>
            <td><%= donation.AffectedArea ? donation.AffectedArea.location : 'N/A' %></td>
            <td><%= donation.donation_date %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>
